<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

</head>
<body>
    <div style="border: 3px solid black; height: 200px; width: 300px; display: flex; flex-direction: column;justify-content: center; margin-left: 40%;margin-top: 10%;">
        <h2 style="text-align: center;">Login</h2>
    <form method="post" action="{% url 'account:login' %}" style="text-align: center;">
        {% csrf_token %}  
        <input type="text" style="margin-bottom: 10px; height: 25px; width: 275px;" placeholder="Enter username" id="id_username inpute" name="username">
        <br>
        <input type="password" style="margin-bottom: 10px; height: 25px; width: 275px;" placeholder="Enter password" id="id_password inpute" name="password">
        <br>
        <input type="submit" style=" height: 30px; width: 100px;" value="Login">
    </form>
    </div>
</body>
</html>
