<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat app</title>
</head>
<body>
    <textarea name="" id="chat-log" cols="100" rows="20">
        {% for chat in chats %}
        {{chat.content}}
        {% endfor %}
    </textarea><br>
    <input type="text" id="chat-message-input" size="100"><br>
    <input type="button" value="Send" id="chat-message-submit">

    <div id="channel-name">Channel Name: Loading...</div>
    <!-- {{channel_name}} -->

    <!-- <h1>Channel Name: <span id="channelName">Loading...</span></h1> -->

    {{groupname | json_script:"group-name"}}
    <script>
        
        const groupName = JSON.parse(document.getElementById('group-name').textContent)
        // console.log(groupName);
        // var ws = new WebSocket('ws://127.0.0.1:8000/ws/ac/')
        var ws = new WebSocket('ws://' + window.location.host + '/ws/ac/' + groupName + '/')

        ws.onopen = function(event){
            // console.log('websocket connection open...',JSONevent.data);
            document.getElementById('channel-name').textContent = 'Channel Name: ' + groupName;
            // print(event)
            // console.log(event);
        }
        ws.onmessage = function(event){
            console.log('message received from server', event.data);
            const data = JSON.parse(event.data) // string to js object
            const groupName = data.groupname;
            console.log(groupName);
            console.log('parsed data.....', data);
            console.log('type of parsed data.....', typeof(data));
            console.log('Actual message ....', data);
            // const chatLog = document.querySelector('#chat-log');
            // const msg = data.msg
            // // Check if the message is the "Login required" message
            // if (msg === 'Login required') {
            //     // Display the "Login required" message in the chat log
            //     chatLog.value += (msg + '\n');
            // } else {
            //     // Display regular chat messages in the chat log
            //     chatLog.value += (msg + '\n');
            // }
            document.querySelector('#chat-log').value +=(data.msg + '\n')


        }
        ws.onclose = function(event){
            console.log('websocket connection closed', event);
        }
        document.getElementById('chat-message-submit').onclick = 
        function(event){
            const messageInputDom = document.getElementById('chat-message-input')
            const message = messageInputDom.value
            ws.send(JSON.stringify({
                'msg':message
            }))
            messageInputDom.value = ''
        }
    </script>
</body>
</html>