<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat app</title>
    <style>
     
    </style>
</head>
<body>
    <div class="container" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
        <h1>Username: {{groupname}}</h1>
        <div class="msg-container" id="chat-log" style="height: 400px; width: 822px; border: black solid 1px; overflow-y: auto;">
            <div class="messages" style="padding-left: 35px; padding-top: 15px;">
                {% for chat in chats %}
                    <div class="item chat-content"  style="margin-top: 10px; padding-left: 10px; height: 30px; padding-top: 10px;  margin-right: 5%; background-color: rgb(252, 182, 182);">
                        {{chat.content}}
                    </div> 
                {% endfor %}
            </div>
        </div>
        <h2 style="margin-bottom: 2px;">Notifications :</h2>
        <ul style="margin-top: 2px;">
            {% for notification in notifications %}
                <li>{{ notification.message }}</li>
            {% endfor %}
        </ul>
        <h1>=======================================================================</h1>
        <!-- <textarea name="" id="chat-log" cols="89" rows="20" style="margin-top: 10px;">
                {% for chat in chats %}
                    {{ chat.content }}
                {% endfor %}   
        </textarea><br> -->
        <input type="text" id="chat-message-input" size="100" placeholder="Enter your message" style="height: 40px; width: 820px; margin-top: 10px; font-size: 16px;"><br>
        <input type="button" value="Send" id="chat-message-submit" style="margin-top: 10px; background-color: rgb(176, 176, 255); width: 150px; height: 40px;">
    
        <!-- <div id="channel-name">Channel Name: Loading...</div> -->
        <!-- {{channel_name}} -->
    
        <!-- <h1>Channel Name: <span id="channelName">Loading...</span></h1> -->
    
    </div>
    {{groupname | json_script:"group-name"}}
    <script>
        const groupName = JSON.parse(document.getElementById('group-name').textContent)
        // console.log(groupName);
        // var ws = new WebSocket('ws://127.0.0.1:8000/ws/ac/')
        var ws = new WebSocket('ws://' + window.location.host + '/ws/ac/' + groupName + '/')

        ws.onopen = function(event){
            // console.log('websocket connection open...',JSONevent.data);
            console.log("connected to the websocket");
            document.getElementById('channel-name').textContent = 'Channel Name: ' + groupName;
            // print(event)
            // console.log(event);
        }
        ws.onmessage = function(event){
            console.log('message received from server', event.data);
            const data = JSON.parse(event.data) // string to js object
            const groupName = data.grou_pname;
            console.log(groupName);
            // console.log('parsed data.....', data);
            // console.log('type of parsed data.....', typeof(data));
            // console.log('Actual message ....', data.msg);
            // const chatLog = document.querySelector('#chat-log');
            // const msg = data.msg
            // // Check if the message is the "Login required" message
            // if (msg === 'Login required') {
            //     // Display the "Login required" message in the chat log
            //     chatLog.value += (msg + '\n');
            // } else {
            //     // Display regular chat messages in the chat log
            //     chatLog.value += (msg + '\n');
            // }
            console.log("befor decoding====", data.msg);
            // const tempmsg = encodeMessage(data.msg)
            // console.log("================ encoded message: ", tempmsg);
            console.log("================ encoded without: ", data.msg);
            document.querySelector('#chat-log').innerHTML +=(data.msg + '<br>');
            const element = document.querySelector('#chat-log');
            const tvalue =  element.style.backgroundColor = 'lightblue';
        }
        ws.onclose = function(event){
            console.log('websocket connection closed', event);
        }



        document.getElementById('chat-message-submit').onclick = 
        function(event){
            const messageInputDom = document.getElementById('chat-message-input')
            // const message = btoa(messageInputDom.value)
            const message = messageInputDom.value

            // Import the secret key
            // const secretKey = await importSecretKey();
            // const encodedMessage = encodeMessage(message, secretKey);
            console.log("message ====", message);
            ws.send(JSON.stringify({
                'msg':message
            }))
            messageInputDom.value = ''
        }
    </script>
</body>
</html>