<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
</head>
<body>
    <div class="container" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
        <h1>Username: {{groupname}}</h1>
        <div class="msg-container" id="chat-log" style="height: 400px; width: 822px; border: black solid 1px; overflow-y: auto;">
            <div class="messages" style="padding-left: 35px; padding-top: 15px;">
                {% for chat in chats %}
                    <div class="item chat-content"  style="margin-top: 10px; padding-left: 10px; height: 30px; padding-top: 10px;  margin-right: 5%; background-color: rgb(252, 182, 182);">
                        {{chat.content}}
                    </div> 
                {% endfor %}
            </div>
        </div>
        <h2 style="margin-bottom: 2px;">Notifications :</h2>
        <ul style="margin-top: 2px;">
            {% for notification in notifications %}
                <li>{{ notification.message }}</li>
            {% endfor %}
        </ul>
        <h1>=======================================================================</h1>
        <input type="text" id="chat-message-input" size="100" placeholder="Enter your message" style="height: 40px; width: 820px; margin-top: 10px; font-size: 16px;"><br>
        <input type="button" value="Send" id="chat-message-submit" style="margin-top: 10px; background-color: rgb(176, 176, 255); width: 150px; height: 40px;">
    </div>
    {{groupname | json_script:"group-name"}}
    <script>
        const groupName = JSON.parse(document.getElementById('group-name').textContent)
        const ws = new WebSocket('ws://' + window.location.host + '/ws/ac/' + groupName + '/');

        let publicKey;
        let privateKey;

        ws.onopen = function(event){
            console.log("connected to the websocket");

            async function generateKeyPair() {
            const keyPair = await window.crypto.subtle.generateKey(
                {
                name: 'RSA-OAEP',
                modulusLength: 2048, // Change the length as needed
                publicExponent: new Uint8Array([0x01, 0x00, 0x01]),
                hash: 'SHA-256',
                },
                true,
                ['encrypt', 'decrypt']
            );
            
            publicKey = keyPair.publicKey;
            privateKey = keyPair.privateKey;
            console.log("====",publicKey, privateKey);
            // return keyPair;
            }
            (async () => {
            try {
                const keyPair = await generateKeyPair();
            } catch (error) {
                console.error('Error:', error);
            }
            })();
            document.getElementById('channel-name').textContent = 'Channel Name: ' + groupName;
        }
        ws.onmessage = async function(event){
            console.log('message received from server', event.data);
            const data = JSON.parse(event.data) // string to js object
            const groupName = data.grou_pname;
            console.log("befor decoding====", data.msg);

            try{
                    const byteValues = Object.values(data.msg);
                    const encryptedMessage = new Uint8Array(byteValues);
                    const decryptedMessage = await decryptMessage(privateKey, encryptedMessage);
                    console.log("Decrypted message:", decryptedMessage);
                    // const tempmsg = await decryptMessage(data.msg)
                    // console.log("================ encoded message: ", tempmsg);
                    // console.log("================ 0000000000000000000000000000000");
                    // console.log(tempmsg);
                    document.querySelector('#chat-log').innerHTML +=(decryptedMessage + '<br>');
                    const element = document.querySelector('#chat-log');
                    const tvalue =  element.style.backgroundColor = 'lightblue';
                
            }catch (error) {
                console.error('Error decrypting message:', error);
            }
            // const tempmsg = await decryptMessage(data.msg)
            // // console.log("================ encoded message: ", tempmsg);
            // console.log("================ 0000000000000000000000000000000");
            // console.log(tempmsg);
            // document.querySelector('#chat-log').innerHTML +=(data.msg + '<br>');
            // const element = document.querySelector('#chat-log');
            // const tvalue =  element.style.backgroundColor = 'lightblue';
        }
        ws.onclose = function(event){
            console.log('websocket connection closed', event);
        }
        
        // Event handler for sending a message
        async function sendMessage() {
            const messageInputDom = document.getElementById('chat-message-input');
            const message = messageInputDom.value;

            // Encode the message before sending
            const encodedMessage = await encryptMessage(publicKey, message);
            console.log("======encoded message is",encodedMessage);
            ws.send(JSON.stringify({
                'msg': encodedMessage
            }));
            messageInputDom.value = '';
        }

        async function encryptMessage(publicKey, plaintext) {
        const encodedText = new TextEncoder().encode(plaintext);
        const ciphertext = await window.crypto.subtle.encrypt(
            {
            name: 'RSA-OAEP',
            },
            publicKey,
            encodedText
        );

        return new Uint8Array(ciphertext);
        }

        async function decryptMessage(privateKey, ciphertext) {
        const decryptedData = await window.crypto.subtle.decrypt(
            {
            name: 'RSA-OAEP',
            },
            privateKey,
            ciphertext
        );

        const plaintext = new TextDecoder().decode(decryptedData);
        return plaintext;
        }


        // Attach the event handler to the button
        document.getElementById('chat-message-submit').onclick = sendMessage;
    </script>
</body>
</html>
